@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* solid background */
    background: rgb(0,212,255);
    
    /* gradient background*/
    background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(11,3,45,1) 100%);    
    
    /* photo background */
    background-image: url(https://images.unsplash.com/photo-1619204715997-1367fe5812f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1889&q=80);
    background-size: cover;
    background-position: center;  
    
    display: flex;
    align-items: center;
    justify-content: center;    
	// display: grid;
	// grid-template-columns: repeat (auto-fit, minmax(250px, 1fr));
  }
  #container {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.25);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	padding: 20px;
	filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
	display: flex;
	flex-direction: row;
	align-items: center;
    flex-wrap: wrap;
	text-align: center;
    justify-content: space-between;
    width: 1200px !important;
}
.listItem{
    border: 1px solid #000;
    padding: 10px;
    margin: 6px;
}
.wrapper {
	width: 100%;
	height: 100%;
}
.banner-image {
	background-position: center;
	background-size: cover;
	height: 300px;
	width: 200px;
	border-radius: 12px;
	border: 1px solid rgba(255,255,255, 0.255);
	img{
		max-width: 100%;
	}
}
h1 {
	font-family: 'Righteous', sans-serif;
	color: rgba(255,255,255,0.98);
	text-transform: uppercase;
	font-size: 1.4rem;
    margin: 10px 0;
}
p {
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 0.5rem;
	line-height: 150%;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.button-wrapper {
	margin-top: 18px;
}
.btn {
	border: none;
	padding: 10px 15px;
	border-radius: 24px;
	font-size: 10px;
	font-size: 0.6rem;
	letter-spacing: 2px;
	cursor: pointer;
	& + .btn {
		margin-left: 10px;
	}
}
.outline {
	background: transparent;
	color: rgba(0, 212, 255, 0.9);
	border: 1px solid rgba(0, 212, 255, 0.6);
	transition: all .3s ease;
	&:hover {
		transform: scale(1.125);
		color: rgba(255, 255, 255, 0.9);
		border-color: rgba(255, 255, 255, 0.9);
		transition: all .3s ease;
	}
}
.fill {
	background: rgba(0, 212, 255, 0.9);
	color: rgba(255,255,255,0.95);
	filter: drop-shadow(0);
	font-weight: bold;
	transition: all .3s ease;
	&:hover {
		transform: scale(1.125);
		border-color: rgba(255, 255, 255, 0.9);
		filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
		transition: all .3s ease;
	}
}
